.header {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: black;
}

.description {
  font-size: 26px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: black;
}
